.btn {
  display: block;
  width: 25%;

}

.container {
  text-align: center;
}

.myin {
  width: 80%;
  border-radius: 5px;
  border: 1px solid #333;
  padding: 5px;
  margin-bottom: 30px;
}

.col-6 button {
  margin-left: 35%;
  margin-top: 30px;
}

.images {
  display: none;
}


.showimage {
  display: block;
}

.color {
  color: red;
}
